<section id="hero">
  <div class="container">
    <div class="row hero-text">
      <div class="col-12 signup-context">
        <h1>Keep track of your learning</h1>
        <h2>Add courses, videos and articles to your curriculum, and keep track of your self-education.</h2>
        <a class="signup-btn signup-modal" href="#">Sign up for free</a>
      </div>
    </div>
  </div>
</section> <!-- end hero section -->
<section id="info">
  <div class="container">
    <div class="row">
      <div class="col-8 offer">
        <h3>Gather all your learning resources in one place</h3>
        <p>When learning something on your own, it can be hard to keep track of all the courses, tutorials and books out there. Learnerslist helps you keep everything in one place.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 feature">
        <%= image_tag("organize.svg", alt: "Media elements") %>
        <h4>Organize it all</h4>
        <p>Tutorials, blog posts, podcasts, courses, videos, articles or audiobooks, if you got a link to it, you can add it.</p>
      </div><!--
   --><div class="col-4 feature">
        <%= image_tag("track.svg", alt: "Checkboxes") %>
        <h4>Track your progress</h4>
        <p>Keep an eye on what learning material you have completed, and what's coming up next.</p>
      </div><!--
   --><div class="col-4 feature">
        <%= image_tag("free.svg", alt: "Free icon") %>
        <h4>Free to use</h4>
        <p>Learnist is totally free to use, forever.</p>
      </div>
    </div>
  </div>
</section> <!-- end info section -->

<div id="login-overlay">
  <div class="form login-form" id="login-overlay-div">
    <a class="exit-modal-icon" href="#"><i class="fa fa-times"></i></a>
    <h1>Log in</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, class: "email-icon", placeholder: "E-mail" %>
      
      <%= f.password_field :password, class: "password-icon", placeholder: "Password" %>

      <% if devise_mapping.rememberable? -%>
        <label>
          <%= f.check_box :remember_me %>
          <span class="label-text">Remember me</span>
        </label>
      <% end -%>

      <%= f.submit "Log in", class: "btn btn-small" %>
    <% end %>
  </div>
</div>

<div id="signup-overlay">
  <div class="form signup-form" id="signup-overlay-div">
    <a class="exit-modal-icon" href="#"><i class="fa fa-times"></i></a>
    <h1>Sign up</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= f.email_field :email, class: "email-icon", placeholder: "Email" %>

      <%= f.password_field :password, class: "password-icon", placeholder: "Password" %>

      <%= f.password_field :password_confirmation, class: "password-confirmation-icon", placeholder: "Password confirmation" %>

      <%= f.submit "Create account", class: "btn btn-large" %>
    <% end %>
  </div>
</div>