<section id="hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-6-large hero-text signup-context">
        <h1>Organize your learning</h1>
        <p>Add courses, videos and articles to your curriculum, and keep track of your online learning.</p>
        <a class="signup-btn signup-modal" href="#">Sign up for free</a>
      </div><!--
   --><div class="col-6 hero-image">
        <%= image_tag("hero_image.png", alt: "Website screenshot") %>
      </div>
    </div>
  </div>
</section> <!-- end hero section -->
<section id="info">
  <div class="container">
    <div class="row">
      <div class="col-8 offer">
        <h2>Gather all your learning resources in one place</h2>
        <p>When learning something on your own, it can be hard to keep track of all the courses, tutorials and books out there. Learnerslist helps you keep everything in one place.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 feature">
        <%= image_tag("organize.svg", alt: "Media elements") %>
        <h3>Organize it all</h3>
        <p>Tutorials, blog posts, podcasts, courses, videos, articles or audiobooks, if you got a link to it, you can add it.</p>
      </div><!--
   --><div class="col-4 feature">
        <%= image_tag("track.svg", alt: "Checkboxes") %>
        <h3>Track your progress</h3>
        <p>Keep an eye on what learning material you have completed, and what's coming up next.</p>
      </div><!--
   --><div class="col-4 feature">
        <%= image_tag("free.svg", alt: "Checkboxes") %>
        <h3>Free to use</h3>
        <p>Learnist is totally free to use for everyone.</p>
      </div>
    </div>
  </div>
</section> <!-- end info section -->

<%= render 'login_signup_overlays' %>
