<% provide(:title, "Settings") %>
<div class="container">
  <h1>Settings</h1>
  <div class="texture-form">
    <%= form_for(resource, as: resource_name,
                           url: settings_path,
                           html: { method: :put, class: "centered" }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.email_field :email,
                        class: "email-icon",
                        placeholder: "Email" %>
      
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: 
          <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.password_field :current_password,
                           class: "password-icon",
                           placeholder: "Old password" %>

      <%= f.password_field :password,
                           class: "password-icon",
                           placeholder: "New password" %>

      <%= f.password_field :password_confirmation,
                           class: "password-confirmation-icon",
                           placeholder: "Confirm new password" %>

      <%= f.submit "Update profile", class: "btn btn-small"%>
    <% end %>
  </div>
</div>
