<li class="resource-item <%= 'completed' if resource.completed? %>"
 id="resource-<%= resource.id %>">
  <div class="resource-image">
    <%= image_tag "treehouse_thumb.png" %>
  </div>

  <div class="resource-text">
    <%= link_to urltitle(resource), resource.url, class: "resource-url" %>
    <p class="resource-description"><%= resource.description %></p>
    <p class="resource-tags">
      <%= tags(resource) %>
    </p>

    <%= form_for resource, remote: true,
                           authenticity_token: true,
                           html: { class: "centered" } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_field :url, class: "edit-resource-url url-icon",
                             placeholder: "URL",
                             required: true %>
      <%= f.text_area :description, class: "edit-resource-description 
                                            description-icon",
                                    placeholder: "Short description",
                                    maxlength: 80, 
                                    required: true %>
      <%= f.text_field :tag_list, value: resource.tag_list.to_s,
                                  class: "edit-resource-tags tags-icon",
                                  placeholder: "Tags (comma separated)" %>
      <%= f.submit "Update resource", id: "update-resource-btn-#{resource.id}" %>
    <% end %>


    <div class="resource-extras">
      <%= form_for resource, remote: true,
                             authenticity_token: true,
                             html: { class: "completed-form" } do |f| %>
        <label>
          <%= f.check_box :completed %>
          <span class="label-text"><%= label_text(resource) %></span>
        </label>
        <%= f.submit "Complete" %>
      <% end %>
      <span class="edit-delete">
        <label for="update-resource-btn-<%= resource.id %>">Done editing</label>
        <a class="edit-resource-btn" href="#">Edit</a>&nbsp;|
        <%= button_to "Delete", resource,
                                 remote: true,
                                 form_class: "delete-resource",
                                 method: :delete,
                                 data: { confirm: "Are you sure?" } %></span>
    </div>

  </div>
</li>
