<li class="resource-item" id="resource-<%= resource.id %>">
  <div class="resource-image">
    <%= image_tag "treehouse_thumb.png" %>
  </div>

  <div class="resource-text">
    <%= link_to urltitle(resource.url), resource.url, class: "resource-url" %>
    <p class="resource-description"><%= resource.description %></p>
    
    <%= form_for resource, html: { class: "centered" } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_field :url, class: "edit-resource-url url-icon",
                             placeholder: "URL",
                             required: true %>
      <%= f.text_area :description, class: "edit-resource-description 
                                            description-icon",
                                    placeholder: "Short description",
                                    maxlength: 80, 
                                    required: true %>
      <%= f.submit "Update resource", class: "submit-changes" %>                      
    <% end %>


    <div class="resource-extras">
      <label>
        <input type="checkbox">
        <span class="label-text">Completed?</span>
      </label>
      <span class="edit-delete"><a class="edit-resource" href="#">Edit</a>
       | <%= button_to "Delete", resource,
                        form_class: "delete-resource",
                        method: :delete,
                        data: { confirm: "Are you sure?" } %></span>
    </div>

  </div>
</li>
