<% provide(:title, "All Resources") %>
<div class="container">
  <h1>All Learning Resources</h1>
  <div class="texture-form resource-form">
    <%= form_for @resource, remote: true, authenticity_token: true, html: { class: "centered" } do |f| %>
      
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.text_field :url, class: "url-icon",
                             placeholder: "URL",
                             required: true,
                             autocomplete: "off" %>

      <%= f.text_area :description, class: "description-icon",
                                    placeholder: "Short description",
                                    maxlength: 80, 
                                    required: true %>

      <%= f.submit "Add new resource", class: "btn btn-small" %>
    <% end %>
  </div>

  <nav class="pagination-nav">
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li><!--
   --><li><a href="#">1</a></li><!--
   --><li><a href="#">2</a></li><!--
   --><li><a href="#">3</a></li><!--
   --><li><a href="#">4</a></li><!--
   --><li><a href="#">5</a></li><!--
   --><li><a href="#">&raquo;</a></li>
    </ul>
  </nav>

  <ul class="resources-list">
    <%= render @resources %>
  </ul>

  <nav class="pagination-nav">
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li><!--
   --><li><a href="#">1</a></li><!--
   --><li><a href="#">2</a></li><!--
   --><li><a href="#">3</a></li><!--
   --><li><a href="#">4</a></li><!--
   --><li><a href="#">5</a></li><!--
   --><li><a href="#">&raquo;</a></li>
    </ul>
  </nav>
</div>
