<header>
  <nav class="main-nav homepage-nav">
    <div class="container">
      <h1><%= link_to "LearnersList", root_path %></h1>
      <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <% if user_signed_in? %>
          <li>Settings</li>
          <li><%= link_to "Log out", destroy_user_session_path,
                                     method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", "#", class: "signup-modal" %></li>
          <li><%= link_to "Log in", "#", class: "login-modal" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <nav class="mobile-nav">
    <ul>
      <%= link_to root_path do %>
        <li>Home</li>
      <% end %>
      <%= link_to about_path do %>
        <li>About</li>
      <% end %>
      <%= link_to "#" do %>
        <li>Log in</li>
      <% end %>
    </ul>
  </nav>
</header>